<div class="sign-canvas">
  <div class="offset-lg-5 col-lg-4 offset-md-3 col-md-6 col-sm-12">
    <div class="sign-area text-center">
      <img src="assets/images/interface/logo-foot.svg" alt="logo"/>
      <div class="sign-tab-area">
        <form #forgotPasswordForm="ngForm" autocomplete="off" [addValidators]="validationMsgObj"
          validationMessage="forgotPasswordValidateModel" (keydown)="onEnterFunction($event, forgotPasswordForm)">
          <div class="sign-tab-middle">
            <h3>Forgot Password</h3>
          </div>
          <div class="sign-box another-head">
            <input type="text" autocomplete="off" *ngIf="modelSvc.forgotPasswordModel.isSMSCode"
              class="form-control" inputValidator [(ngModel)]="modelSvc.forgotPasswordModel.mobileNo"
              name="mobileNo" placeholder="Enter Mobile Number">
            <input type="text" autocomplete="off" class="form-control"
              *ngIf="modelSvc.forgotPasswordModel.isEmailCode" [(ngModel)]="modelSvc.forgotPasswordModel.email"
              inputValidator name="email" placeholder="Enter Email">
            <p *ngIf="modelSvc.challengeKeyModel.isEnableChallengeKey">Please type the key below if you are not a
              robot:</p>
            <label *ngIf="modelSvc.challengeKeyModel.isEnableChallengeKey" class="chal-lab">
              <span>{{modelSvc.challengeKeyModel.generatedChallangeKey}}</span>
              <i (click)="modelSvc.setChallengeKey()" class="fa fa-undo"></i>
            </label>
            <input *ngIf="modelSvc.challengeKeyModel.isEnableChallengeKey" class="form-control" type="text"
              autocomplete="off" (paste)="onPastePreventDefault($event)"
              [(ngModel)]="modelSvc.challengeKeyModel.challengeKey" inputValidator name="challengeKey"
              placeholder="Enter Challenge Key*">
          </div>
          <button type="button" class="btn btn-success" (click)="onSubmit(forgotPasswordForm)"
            [disabled]="!forgotPasswordForm.dirty || modelSvc.isSubmitted">Next</button>
        </form>
      </div>
    </div>
  </div>
</div>
<img class="sign-img" src="assets/images/interface/sign.png" alt="sign"/>