<div class="sign-canvas">
  <div class="offset-lg-5 col-lg-4 offset-md-3 col-md-6 col-sm-12">
    <div class="sign-area text-center">
      <img src="assets/images/interface/logo-foot.svg" alt="logo"/>
      <div class="sign-tab-area">
        <form #changePasswordForm="ngForm" autocomplete="off" [addValidators]="validationMsgObj"
          validationMessage="changePasswordValidateModel" (keydown)="onEnterFunction($event, changePasswordForm)">
          <div class="sign-tab-middle">
            <h3>{{ modelSvc.changePasswordMoel.type == 1 ? 'Set New Password' : 'Change Password' }}</h3>
          </div>
          <div class="sign-box another-head">
            <input class="form-control" *ngIf="modelSvc.changePasswordMoel.type == 2" type="password"
              autocomplete="off" inputValidator [(ngModel)]="modelSvc.changePasswordMoel.currentPassword"
              name="currentPassword" placeholder="Enter current password*">
            <div style="height:10px;width:100%"></div>

            <input class="form-control" type="password" autocomplete="off" inputValidator
              [(ngModel)]="modelSvc.changePasswordMoel.password" name="password" placeholder="Enter new password*">
            <div style="height:10px;width:100%"></div>

            <input class="form-control" type="password" autocomplete="off"
              [(ngModel)]="modelSvc.changePasswordMoel.reEnterPassword" inputValidator name="reEnterPassword"
              placeholder="Re-enter password*">
          </div>
          <button type="button" class="btn btn-success" (click)="onSubmit(changePasswordForm)"
            [disabled]="!changePasswordForm.dirty || modelSvc.isSubmitted">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<img class="sign-img" src="assets/images/interface/sign.png" alt="sign"/>